doctype html
html
  head
    meta(charset="utf-8")
    title Example
    link(rel="stylesheet" href="css/index.css")
  body
    block contents
    script(src="js/vendor/lib.js")
    script(src="js/index.js")
